html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root {
  color: #385b89;
  background-color: #d6e3f1;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}
