.topmenu-wrapper {
  display: flex;
  width: 100%;
  padding-left: 5px;
  background: linear-gradient(#f1f4fa, #e9edf5);
  border-bottom: 1px solid #b4bac6;
  height: 32px;
  align-items: flex-end;
  box-sizing: border-box;
}

.tab {
  padding: 6px 14px 7px 14px;
  margin-right: 2px;
  font-size: 13px;
  color: #444;
  cursor: pointer;
  border-radius: 3px 3px 0 0;
  background: transparent;
}

.active-yellow {
  background: linear-gradient(#ffe8a6, #f7d97a);
  border: 1px solid #d9b54c;
  border-bottom: none;
}

.active-gray {
  background: linear-gradient(#ffffff, #e8ebf3);
  border: 1px solid #b3b8c4;
  border-bottom: none;
}

.tab:not(.active-yellow):not(.active-gray):hover {
  background: linear-gradient(#fafbfd, #e8ecf4);
  border: 1px solid #c4c8d2;
  border-bottom: none;
}
